<h1>Listing dinos</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Description</th>
    <th>Image</th>
    <th>Thumb</th>
    <th>Terrain</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Speed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @dinos.each do |dino| %>
  <tr>
    <td><%= dino.id %></td>
    <td><%= dino.name %></td>
    <td><%= dino.description %></td>
    <td><%= dino.image %></td>
    <td><%= dino.thumb %></td>
    <td><%= dino.terrain %></td>
    <td><%= dino.weight %></td>
    <td><%= dino.height %></td>
    <td><%= dino.speed %></td>
    <td><%= link_to 'Show', dino %></td>
    <td><%= link_to 'Edit', edit_dino_path(dino) %></td>
    <td><%= link_to 'Destroy', dino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Dino', new_dino_path %>
