<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @dino.id %>
</p>

<p>
  <b>Name:</b>
  <%= @dino.name %>
</p>

<p>
  <b>Description:</b>
  <%= @dino.description %>
</p>

<p>
  <b>Image:</b>
  <%= @dino.image %>
</p>

<p>
  <b>Thumb:</b>
  <%= @dino.thumb %>
</p>

<p>
  <b>Terrain:</b>
  <%= @dino.terrain %>
</p>

<p>
  <b>Weight:</b>
  <%= @dino.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @dino.height %>
</p>

<p>
  <b>Speed:</b>
  <%= @dino.speed %>
</p>


<%= link_to 'Edit', edit_dino_path(@dino) %> |
<%= link_to 'Back', dinos_path %>
